p {
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 300%;
  font-style: normal;
  font-weight: normal;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 250%;
  font-style: normal;
  font-weight: bold;
}

.tablinks {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  float: left;
  height: 40px;
  font-family: "Roboto Mono", monospace;
}

.tablinks_right {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  float: right;
  width: 100px;
  height: 40px;
}

/* Style the buttons that are used to open the tab content */
.tab_left button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Roboto Mono", monospace;
}

/* Change background color of buttons on hover */
.tab_left button:hover {
  background-color: #d8d8d8d8;
}

/* Create an active/current tablink class */
.tab_left button.active {
  background-color: #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab_right button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: "Roboto Mono", monospace;
}

/* Change background color of buttons on hover */
.tab_right button:hover {
  background-color: #d8d8d8d8;
}

/* Create an active/current tablink class */
.tab_right button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}